{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <h2 class="headline">
        {{ .Date.Format "January 2, 2006" }}
        <br>
        {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
            {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ end}}
        </h2>
    </header>
    <section class="post-body">
        {{ .Content }}
    </section>
</article>

<footer class="post-meta">
    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
    <img class="avatar" src="{{ "images/avatar.png" | absURL }}">
    <div class="author-details">
        <span class="text-dark">{{ .Site.Params.name }}</span>
        <span class="text-light">{{ .Site.Params.aboutAuthor }}</span>
    </div>
    {{ with .Site.Params.twitter }}</a>{{ end }}
    <section class="sharing">
        <a class="twitter"
           href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .LinkTitle }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}">
            <span class="icon-twitter"></span>&nbsp;{{ .Site.Params.tweet | default "Tweet" }}
        </a>

        <a class="facebook" href="#"
           onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;">
            <span class="icon-facebook-rect"></span>&nbsp;{{ .Site.Params.share | default "Share" }}
        </a>

    </section>
</footer>

{{ template "_internal/disqus.html" . }}

{{ partial "latest-posts.html" . }}
{{ end }}
