<nav id="pagination">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
        <a class="prev" href="{{.Paginator.Prev.URL}}">
            <span class="arrow">←</span> {{ .Site.Params.newerPosts | default "Newer Posts" }}
        </a>
        {{ end }}
        <span class="flex"></span>
        {{ if .Paginator.HasNext }}
        <a class="next" href="{{.Paginator.Next.URL}}">
            {{ .Site.Params.olderPosts | default "Older Posts" }}<span class="arrow">→</span>
        </a>
        {{ end }}
    {{ end }}
</nav>
